* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

:root {
    overflow: hidden;
}


/*::-webkit-scrollbar {*/
/*    width: 0;*/
/*}*/

/*::-webkit-scrollbar-thumb:hover {*/
/*    background: transparent;*/
/*}*/


/*::-webkit-scrollbar-track {*/
/*    border-radius: 0;*/
/*}*/


/*::-webkit-scrollbar-thumb {*/
/*    border-radius: 0;*/
/*    background: transparent;*/
/*}*/
